 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p><!-- left -->Have you ever gotten into an argument with a fellow driver over a parking space? Looking for a parking space during the peak hour can be quite a pain, not to mention the fuel and time that you have wasted.</p>
                </div>
                <div class="col-lg-4">
                    <p><!-- right -->My Parking App allows users to reserve parking prior arriving, hence, it eliminates the problem facing by the majority of the shoppers – the struggle in searching for a parking space.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> 
                    </a>
                </div>
            </div>
        </div>
    </section>
